.contact-button{
    display: flex;
    flex-direction: row;
    width: max-content;
    font-size: 26px;
    padding: 20px 24px;
    border-radius: 18px;
    margin: auto;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform-origin: center;
    line-height: 1;
}
.contact-button img{
    height: 15px;
    margin: auto 0 auto 7px;
    display: block;
}

.contact-button:hover {
    transform: scale(1.05);
}