.App > div {
    width: 100%;
    padding: 100px 0;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.App > div.show{
    opacity: 1;
    transform: translateY(0);
}

.App > div > h1,
.App > div > h2,
.App > div > h3,
.App > div > h4,
.App > div > h5,
.App > div > h6,
.App > div > p{
    max-width: 60%;
    margin: auto;
    text-align: center;
    color: #1B1B1B;
    margin-bottom: 20px;
}

.App > div > p:has(+ p){
    margin-bottom: 0px;
}

.App > div > p{
    font-size: 24px;
    font-weight: 300;
    color: #1D1D1D;
}

h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 1.2;
}

h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
}

.App > div > p > b{
    font-weight: 600;
    font-style: italic;
}